<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442845986632-b2g9qgugonj2fvv456c999dd4oh2errt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442845986632-b2g9qgugonj2fvv456c999dd4oh2errt</string>
	<key>API_KEY</key>
	<string>AIzaSyBZjyl_5LcEnU1VxmSCTNVB4IzZycCoBnw</string>
	<key>GCM_SENDER_ID</key>
	<string>442845986632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseBloc3.dev</string>
	<key>PROJECT_ID</key>
	<string>base-bloc-flutter-3-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>base-bloc-flutter-3-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442845986632:ios:c56d5cbc5ab1a7ac57bd7d</string>
</dict>
</plist>